
.cardContainer{
    margin: 2em auto;
    max-width: 1500px;
}

.cardContainer h2{
    justify-self: start;
    margin: 1em 0 1em 1em;
    font-weight: 200;
}

.cardContainer h2 span{
    color:lightblue;
}

.horizontalCardContainer{
    display: flex;
    justify-content: center;
}
.horizontalCardContainer article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-right: 1em;
}

.horizontalCardContainer article img{
    width: 150px;
}

.horizontalCardContainer article h1{
    font-size: 1.1rem;
}

.horizontalCardContainer article p{
    display: none;
}

@media screen and (max-width: 600px){
    .cardContainer article{
        width: 170px;
        height: 210px;
    }

    .cardContainer article img{
        width: 120px;
        height: auto;
    }

    .cardContainer article span{
        font-size: .6rem;
    }

    .cardContainer article h1{
        font-size: .9rem;
        margin-block: 0;
    }
}