
section{
    margin-block: 1em;
}

section.exerciseSearch{
    margin-top: 0;
}

.exerciseLists{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}