
section{
    margin-block: 1em;
}

section.exercises{
    margin-bottom: 4em;
    max-width: clamp(300px, 90vw, 1755px);
}

section.exerciseSearch{
    margin-top: 0;
}

.exerciseLists{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.exerciseFilterCards{
    max-width: clamp(300px, 80vw, 1200px);
}

hr{
    max-width: 1500px;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--white-color), rgba(0, 0, 0, 0));
}
